<template>
  <v-card class="activity" tile elevation="0">
    <div class="activity__details d-flex flex-column justify-space-between align-center pa-3">
      <p class="headline ma-0">You should</p>
      <p v-if="activity.activity" class="text-center display-1 ma-6">{{ activity.activity }}</p>
      <p v-else class="text-center headline ma-6">{{ activity.error }}</p>
      <v-btn :disabled="!activity.activity || alreadyHasActivity" color="primary" class="white--text" light @click="save" width="fit-content">{{ alreadyHasActivity ? 'Already saved' : 'Save for later' }}</v-btn>
    </div>
    <div class="activity__parameters d-flex flex-column justify-space-between align-center pa-3">
      <p class="text-center headline ma-0">Activity details</p>
      <div class="params">
        <v-select :items="types" label="Type" v-model="params.type" @change="changeValue" clearable></v-select>
        <v-text-field label="Participants" v-model="params.participants" @input="changeValue" type="number" min="0"></v-text-field>
        <v-card flat color="transparent">
          <v-subheader class="pa-0">Budget</v-subheader>
          <v-card-text  class="pa-0">
            <v-range-slider v-model="params.price" min="0" max="1" step="0.1" ticks color="primary" track-color="secondary" thumb-color="primary" :tick-labels="tickLabels" @change="changeValue">
              <template slot="thumb-label" slot-scope="props">
                {{ props.value }}
              </template>
            </v-range-slider>
          </v-card-text>
        </v-card>
      </div>
      <v-btn @click="newActivity" color="primary" class="white--text" light width="fit-content">Hit me with a new one!</v-btn>
    </div>
  </v-card>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  name: "Activity",
  data () {
    return {
      params: {
        type: undefined,
        participants: undefined,
        price: [0, 1],
      },
      types: [
        "education",
        "recreational",
        "social",
        "diy",
        "charity",
        "cooking",
        "relaxation",
        "music",
        "busywork"
      ],
      tickLabels: []
    };
  },
  async created() {
    this.setTickLabels();
    await this.getActivity({});
    this.params = {
      type: this.activity.type,
      participants: this.activity.participants,
      price: [this.activity.price, this.activity.price]
    };
  },
  computed: {
    ...mapState(["activity", "activities"]),
    ...mapGetters(["alreadyHasActivity"]),
    queryParams(){
      return {
        type: this.params.type,
        participants: this.params.participants,
        minprice: this.params.price[0],
        maxprice: this.params.price[1]
      };
    }
  },
  methods: {
    ...mapActions(["getActivity", "saveActivity"]),
    setTickLabels() {
      this.tickLabels[0] = "cheap";
      this.tickLabels[10] = "expensive";
    },
    newActivity() {
      this.getActivity(this.queryParams);
    },
    save() {
      this.saveActivity();
    },
    changeValue(){
      this.getActivity(this.queryParams);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/mixins";
@import "../assets/variables";

.activity {
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: $main-color1;

  &__details, &__parameters {
    background-color: $main-color1;
  }

  &__parameters {
    .params {
      width: 70%;
    }
  }
}

@include break(768px){
  .activity {
    flex-direction: row;

    &__details {
      width: 60%;
    }

    &__parameters {
      width: 40%;
    }
  }
}
</style>
