<template>
  <v-card class="list" tile elevation="0">
    <v-card-title>
      List page
      <v-spacer></v-spacer>
      <v-text-field v-model="search" color="primary" append-icon="mdi-magnify" placeholder="Search activity" single-line hide-details class="shrink"></v-text-field>
    </v-card-title>
    <v-data-table class="list__table teal lighten-5" v-model="selected" :headers="headers" :items="activitiesWithId" :items-per-page="5" :search="search" item-key="key">
      <template v-slot:no-data>
        <span>Your list is empty</span>
      </template>
      <template v-slot:item.price="{ item }">
        <span>{{ price(item.price) }}</span>
      </template>
      <template v-slot:item.id="{ item }">
        <span>{{ item.id }}</span>
      </template>
      <template v-slot:item.remove="{ item }">
        <v-btn @click="removeActivity(item.key)" fab x-small elevation="1" color="error">
          <v-icon >mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <v-card-actions class="button">
      <v-btn @click="clearActivities" light color="primary" class="white--text ma-4">
        <v-icon left>mdi-delete</v-icon>
        Clear all</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  name: "List",
  computed: {
    ...mapState(["activities"]),
    ...mapGetters(["activitiesWithId"])
  },
  data() {
    return {
      search: "",
      selected: [],
      headers: [
        {
          text: "#",
          value: "id",
          align: "center",
          sortable: true,
          filterable: false,
          divider: true
        },
        {
          text: "Activity",
          value: "activity",
          align: "center",
          sortable: true,
          filterable: true,
          divider: true
        },
        {
          text: "Participants",
          value: "participants",
          align: "center",
          sortable: true,
          filterable: true,
          divider: true
        },
        {
          text: "Budget",
          value: "price",
          align: "center",
          sortable: true,
          filterable: true,
          divider: true
        },
        {
          text: "Delete",
          value: "remove",
          align: "center",
          sortable: false,
          filterable: false
        }
      ]
    };
  },
  methods: {
    ...mapActions(["clearActivities", "removeActivity"]),
    price(price) {
      return price <= 0.5 ? "cheap" : "expensive";
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/mixins";
@import "../assets/variables";

.list {
  background-color: $main-color1;

  .button {
    justify-content: center;
  }
}

@include break(768px){
  .list {
    height: 500px;
  }
}
</style>
