<template>
  <v-app>
    <v-content class="app">
      <v-container class="fill-height" fluid pt-0>
        <v-row align="center" justify="center" class="row">
          <v-col class="column" cols="12" sm="10" md="8">
            <v-tabs class="tabs" background-color="primary" hide-slider dark grow>
              <v-tab v-for="(tab, i) in tabs" :key="i" :to="tab.link" class="text" exact-active-class="active">
                {{ tab.name }}
              </v-tab>
            </v-tabs>
            <v-tabs-items class="items">
              <keep-alive>
                <router-view></router-view>
              </keep-alive>
            </v-tabs-items>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data(){
    return {
      tabIndex: null,
      tabs: [
        {
          name: "Activities",
          link: "/"
        },
        {
          name: "My list",
          link: "/list"
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "../src/assets/mixins";
@import "../src/assets/variables";

.app {
  background: url("assets/bg.png") no-repeat center;
  background-size: cover;

  .row {
    .column {
      height: 600px;

      .tabs {
        .text {
          color: $white;
        }

        .active {
          background-color: $main-color1;
          box-shadow: 0 0 10px $shadow;
          color: $main-color3;
        }
      }
    }
  }
}
</style>
